.character {
  width: 100%;
  background: lightgoldenrodyellow;
}

.card {
  width: 100%;
  border: 1px solid goldenrod;
}

.name {
  border-bottom: 1px solid rgb(240, 240, 84);
  color: goldenrod;
  font-weight: 100;
  padding: 0.1rem;
}

.gender,
.culture {
  letter-spacing: 1px;
  color: rgb(46, 46, 46);
  font-weight: 200;
}

.gender {
  margin: 0.5rem auto;
}
