.list {
  width: 90vw;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin: 1rem auto;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
}
